@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #5b5b5b;
  --text-light: rgba(28, 28, 30, 0.87);
  --text-dark: rgba(255, 255, 255, 0.92);
  --border-light: rgba(60, 60, 67, 0.36);
  --border-dark: rgba(229, 229, 234, 0.36);
  --card-light: #ffffff;
  --card-dark: #2d2d2d;
  --radius: 0.625rem;
  --spacing: 1rem;
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: "Menlo", Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--background-light);
  color: var(--text-light);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-light);
    color: var(--text-dark);
  }
}

@layer base {
  body {
    background-color: var(--background-light);
    color: var(--text-light);

    @apply text-foreground font-sans;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  * {
    @apply border-border;
    font-smooth: antialiased;
  }
}

@layer components {
  .card {
    @apply bg-gray-800 border border-border rounded-xl shadow-2xl p-4 md:p-6 text-card-foreground w-full max-w-md mx-auto;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .text-sm {
    font-size: 0.875rem;
  }
  .text-md {
    font-size: 1rem;
  }
  .text-lg {
    font-size: 1.25rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-2xl {
    font-size: 1.875rem;
  }
}
